.root{
    -fx-font: 100px "Material Icons";
}

.glyph-icon-stack {
    -fx-background-color: antiquewhite;
}

.glyph-icon-stack .glyph-icon-stack-0{
    -fx-fill:linear-gradient(#70b4e5 0%, #247cbc 70%, #2c85c1 85%);
    -fx-font-size: 3em;
}

.glyph-icon-stack .glyph-icon-stack-1{
    -fx-fill:linear-gradient(#ffffff 0%, #d2d2d2);
    -fx-effect: dropshadow(one-pass-box, rgba(0,0,0,0.8), 4, 0.0, 1, 1);
    -fx-font-size: 1.5em;
}

.glyph-icon-stack .glyph-icon-stack-2{
    -fx-fill:red;
    -fx-opacity: 0.5;
    -fx-font-size: 3em;
}

.cars-not-allowed {
    -glyph-name: BRIGHTNESS_1-DIRECTIONS_CAR-BLOCK
}

.flash-not-allowed {
    -glyph-name: BRIGHTNESS_1-FLASH_ON-BLOCK;
}

.flash-not-allowed .glyph-icon-stack-0{
    -fx-fill:linear-gradient(#8BF39D 0%, #02B320 70%, #38B64D 85%);
    -fx-font-size: 3em;
}

.flash-not-allowed .glyph-icon-stack-1{

}

.flash-not-allowed .glyph-icon-stack-2{
    -fx-opacity: 0.8;
}

.flash-not-allowed .glyph-icon-stack-2:hover{
    -fx-opacity: 0.5;
}

.flash_not_allowed {
    -fx-background-color: #d2d2d2;
}

.flash_not_allowed .glyph-icon-stack-1{
    -fx-font-size: 2em;
}
